<div id="checkbox" class="single-section checkbox">
    <div>
        <h1>Checkbox</h1>
    </div>
    <div class="single-element">

        <div
            style="background: #272822; overflow:auto;width:auto;border-bottom:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
            <pre style="margin: 0; line-height: 125%"><span style="color: #ae81ff">1</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">input</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;checkbox&quot;</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;disabled&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;disabled disabled&gt;</span>
<span style="color: #ae81ff">2</span>   <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">label</span> <span style="color: #66d9ef">for</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;disabled&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Disabled</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">label</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">3</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">input</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;checkbox&quot;</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;normal&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;normal&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">4</span>   <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">label</span> <span style="color: #66d9ef">for</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;normal&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Normal</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">label</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">5</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">input</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;checkbox&quot;</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;checked&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;checked&quot;</span> <span style="color: #f8f8f2">checked</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">6</span>   <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">label</span> <span style="color: #66d9ef">for</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;checked&quot;</span> <span style="color: #f8f8f2">checked</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Checked</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">label</span><span style="color: #f92672">&gt;</span>
    </pre>
        </div>



        <h4>Output</h4>
        <input type="checkbox" name="disabled" id="disabled" disabled>
        <label for="disabled">Disabled</label><br>
        <input type="checkbox" name="normal" id="normal">
        <label for="normal">Normal</label><br>
        <input type="checkbox" name="checked" id="checked" checked>
        <label for="checked" checked>Checked</label><br>
    </div>
</div>
<hr>
