<div id="radio" class="single-section radio-field">
    <div>
        <h1 class="title">Radio Buttons</h1>
    </div>
    <div class="single-element">
        <div
            style="background: #272822; overflow:auto;width:auto;border-bottom:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
            <pre style="margin: 0; line-height: 125%"><span style="color: #ae81ff">1</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">input</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;radio&quot;</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;gender&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;male&quot;</span> <span style="color: #f8f8f2">value</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;Male&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">2</span>     <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">label</span> <span style="color: #66d9ef">for</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;Male&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Male</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">label</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">3</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">input</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;radio&quot;</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;gender&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;female&quot;</span> <span style="color: #f8f8f2">value</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;Female&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">4</span>     <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">label</span> <span style="color: #66d9ef">for</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;female&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Female</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">label</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">5</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">input</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;radio&quot;</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;gender&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;third&quot;</span> <span style="color: #f8f8f2">value</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;Third&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">6</span>     <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">label</span> <span style="color: #66d9ef">for</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;third&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Third</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">label</span><span style="color: #f92672">&gt;</span>
                
    </pre>
        </div>
    </div>



    <h4>Output</h4>
    <input type="radio" name="gender" id="male" value="Male">
    <label for="html">Male</label><br>
    <input type="radio" name="gender" id="female" value="Female">
    <label for="female">Female</label><br>
    <input type="radio" name="gender" id="third" value="Third">
    <label for="third">Third</label><br>
</div>
<hr>
