<div class="single-section" id="navbar">
    <h2>Navbar</h2>
    <div class="single-element">
        <div
            style="background: #272822; overflow:auto;width:auto;border-bottom:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
            <pre style="margin: 0; line-height: 125%"><span style="color: #ae81ff">1</span> <span style="color: #f92672">//</span> <span style="color: #f8f8f2">Light</span>
<span style="color: #ae81ff">2</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">nav</span> <span style="color: #f8f8f2">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;navbar navbar-expand-lg bg-light&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">3</span> <span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">nav</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">4</span>
<span style="color: #ae81ff">5</span>  <span style="color: #f92672">//</span><span style="color: #f8f8f2">Dark</span>
<span style="color: #ae81ff">6</span>
<span style="color: #ae81ff">7</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">nav</span> <span style="color: #f8f8f2">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;navbar navbar-expand-lg bg-light&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">8</span> <span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">nav</span><span style="color: #f92672">&gt;</span>
        </pre>
        </div>
        <h4>output</h4>
        <h5>Light</h5>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#">Logo</a>
                        <a class="nav-link" href="#">Home</a>
                        <a class="nav-link" href="#">About</a>
                        <a class="nav-link">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
        <h5>Dark</h5>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ">
                        <a class="nav-link active secondnav" aria-current="page" href="#" style="color: white;">Logo</a>
                        <a class="nav-link secondnav" href="#" style="color: white;">Home</a>
                        <a class="nav-link secondnav" href="#" style="color: white;">About</a>
                        <a class="nav-link secondnav" href="#" style="color: white;">Contact</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>


</div>
