<div id="selectfield" class="single-section select-field">
    <div>
        <h1>Select Field</h1>
    </div>
    <div class="single-element">
        <div
            style="background: #272822; overflow:auto;width:auto;border-bottom:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
            <pre style="margin: 0; line-height: 125%">
<span style="color: #ae81ff">1</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">select</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;test&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;test&quot;</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">2</span>    <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">option</span> <span style="color: #f8f8f2">value</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;one&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Option</span> <span style="color: #ae81ff">1</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">option</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">3</span>    <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">option</span> <span style="color: #f8f8f2">value</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;two&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Option</span> <span style="color: #ae81ff">2</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">option</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">4</span> <span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">select</span><span style="color: #f92672">&gt;</span>
</pre>
        </div>





        <h4>Output</h4>
        <select name="test" id="test">
            <option value="one">Option 1</option>
            <option value="two">Option 2</option>
        </select>
    </div>
</div>
    <hr>