<div id="textfield" class="single-section text-field">
    <h1 class="title">TextField</h1>

    <div class="single-element">
        <h4 class="title">Box type</h4>
        <div
            style="background: #272822; overflow:auto;width:auto;border-bottom:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
            <pre style="margin: 0; line-height: 125%"><span style="color: #ae81ff">1</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">input</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;text&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;fname&quot;</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;fname&quot;</span> <span style="color: #f8f8f2">value</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;&quot;</span><span style="color: #f92672">&gt;</span>
    </pre>
        </div>
        <h4>Output</h4>
        <input type="text" class="textfield box">
    </div>
    <div class="single-element">
        <h4>Standard type</h4>
        <div
            style="background: #272822; overflow:auto;width:auto;border-bottom:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
            <pre style="margin: 0; line-height: 125%"><span style="color: #ae81ff">1</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">input</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;text&quot;</span> <span style="color: #f8f8f2">id</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;fname&quot;</span> <span style="color: #f8f8f2">name</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;fname&quot;</span> <span style="color: #f8f8f2">value</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;&quot;</span> <span style="color: #f8f8f2">style</span> <span style="color: #f92672">=</span><span style="color: #e6db74">&quot;border-bottom:solid;&quot;</span><span style="color: #f92672">&gt;</span>
        </pre>
        </div>
        <h4>Output</h4>
        <input type="text" name="" id="" class="textfield box">
    </div>
</div>

<hr>