<div class="main-navbar">
    <div class="container">
        <div class="my-navbar">
            <div class="logo">
                <img src="../assets/logo.png" width="200">
            </div>
            <div class="other-nav"><a class="buttonfield github" href="#"><i class="fa fa-github"></i> Github Repo</a>
            </div>
        </div>
    </div>
    <hr>
    <section class="d-flex">
       
            <app-sides></app-sides>
            <div class="main-elements">
                <app-textfield></app-textfield>
                <app-selectfield></app-selectfield>
                <app-checkbox></app-checkbox>
                <app-radiobutton></app-radiobutton>
                <app-button></app-button>
                <app-accordion></app-accordion>
                <app-tables></app-tables>
                <app-tab></app-tab>
                <app-card></app-card>
                <app-navbar></app-navbar>
                <app-pagination></app-pagination>
            </div>
    </section>