<div class="sidemenu">
    <div class="sidemenufield">
        <h3>Components Overview</h3>
        <hr class="divider">
        <a href="#textfield" class="menu-link">Text Field</a>
        <a href="#selectfield" class="menu-link">Select Field</a>
        <a href="#checkbox" class="menu-link">Checkbox</a>
        <a href="#radio" class="menu-link">Radio Button</a>
        <a href="#button" class="menu-link">Button</a>
        <a href="#accordion" class="menu-link">Accordion</a>
        <a href="#table" class="menu-link">Table</a>
        <a href="#tabs" class="menu-link">Tabs</a>
        <a href="#card" class="menu-link">Card</a>
        <a href="#navbar" class="menu-link">Navbar</a>
        <a href="#pagination" class="menu-link">Pagination</a>
    </div>
</div>
