<div id="button" class="single-section button-field">
    <h1 class="title">button-component</h1>
    <div class="single-element">
        <div
            style="background: #272822; overflow:auto;width:auto;border-bottom:solid gray;border-width:.1em .1em .1em .8em;padding:.2em .6em;">
            <pre style="margin: 0; line-height: 125%"><span style="color: #ae81ff">1</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">button</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;button&quot;</span> <span style="color: #f8f8f2">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;btn btn-primary&quot;</span> <span style="color: #f8f8f2">style</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;border-radius: 0;&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Click</span> <span style="color: #f8f8f2">Me</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">button</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">2</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">button</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;button&quot;</span> <span style="color: #f8f8f2">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;btn btn-outline-success&quot;</span> <span style="color: #f8f8f2">style</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;border-radius: 0; border: 2px solid green;&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Click</span> <span style="color: #f8f8f2">Me</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">button</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">3</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">button</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;button&quot;</span> <span style="color: #f8f8f2">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;btn btn-success&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Click</span> <span style="color: #f8f8f2">Me</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">button</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">4</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">button</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;button&quot;</span> <span style="color: #f8f8f2">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;btn btn-primary btn-sm&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Click</span> <span style="color: #f8f8f2">Me</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">button</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">5</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">button</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;button&quot;</span> <span style="color: #f8f8f2">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;btn btn-primary&quot;</span> <span style="color: #f8f8f2">style</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;height: 2em;&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Small</span> <span style="color: #f8f8f2">button</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">button</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;&lt;</span><span style="color: #f8f8f2">br</span><span style="color: #f92672">&gt;</span>
<span style="color: #ae81ff">6</span> <span style="color: #f92672">&lt;</span><span style="color: #f8f8f2">button</span> <span style="color: #f8f8f2">type</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;button&quot;</span> <span style="color: #f8f8f2">class</span><span style="color: #f92672">=</span><span style="color: #e6db74">&quot;btn btn-primary btn-bg&quot;</span><span style="color: #f92672">&gt;</span><span style="color: #f8f8f2">Small</span> <span style="color: #f8f8f2">button</span><span style="color: #f92672">&lt;/</span><span style="color: #f8f8f2">button</span><span style="color: #f92672">&gt;</span>
     </pre>
        </div>

        <h4>output</h4>
        <div>
            <h5>Filled</h5>
            <button type="button" class=" buttonfield filled" style="border-radius: 0;">Click Me</button>
        </div>
        <div>
            <h5>outline</h5>
            <button type="button" class=" buttonfield outline"
                style="border-radius: 0; border: 2px solid green;">Click
                Me</button>
        </div>
        <div>
            <h5>rounded</h5>
            <button type="button" class=" buttonfield rounded">Click Me</button>
        </div>
        <div>
            <h5>text</h5>
            <button type="button" class=" btn-sm buttonfield text">Click Me</button>
        </div>
        <div>
            <h5>color</h5>
            <button type="button" class=" buttonfield color" tyle="height: 2em;">Small button</button>

        </div>
        <div>
            <h5>medium</h5>
            <button type="button" class=" buttonfield rounded medium-btn">Small button</button>

        </div>
        <div>
            <h5>big</h5>
            <button type="button" class=" buttonfield rounded big-btn">Small button</button>

        </div>

    </div>
</div>
